In [1]:
import pandas as pd
import glob
import warnings

In [3]:
warnings.filterwarnings("ignore")
list_dfs = [pd.read_csv(f) for f in glob.glob("data-all/*.csv")]

In [4]:
df_merged = pd.concat(list_dfs, axis=0)

In [5]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2507557 entries, 0 to 131142
Columns: 144 entries, id to settlement_term
dtypes: float64(106), object(38)
memory usage: 2.7+ GB

In [6]:
df_merged.describe(include='all')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
count,37,0.0,2.507482e+06,2.507482e+06,2.507482e+06,2507482,2507482,2.507482e+06,2507482,2507482,...,9462.000000,12030.000000,12030.000000,2507482,39637,39637,39637,39637.000000,39637.000000,39637.000000
unique,37,NaN,NaN,NaN,NaN,2,688,NaN,7,35,...,NaN,NaN,NaN,2,87,3,94,NaN,NaN,NaN
top,Total amount funded in policy code 2: 520780182,NaN,NaN,NaN,NaN,36 months,11.99%,NaN,B,C1,...,NaN,NaN,NaN,N,Apr-19,COMPLETE,Jan-19,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,1776617,53866,NaN,734128,159166,...,NaN,NaN,NaN,2467845,2636,18297,1682,NaN,NaN,NaN
mean,NaN,NaN,1.520204e+04,1.519729e+04,1.518055e+04,NaN,NaN,4.490856e+02,NaN,NaN,...,455.991636,11675.541796,194.832664,NaN,NaN,NaN,NaN,4997.218972,47.734278,13.605772
std,NaN,NaN,9.327663e+03,9.326115e+03,9.330089e+03,NaN,NaN,2.698357e+02,NaN,NaN,...,375.791630,7671.264512,197.724432,NaN,NaN,NaN,NaN,3700.526051,7.131982,8.076993
min,NaN,NaN,5.000000e+02,5.000000e+02,0.000000e+00,NaN,NaN,4.930000e+00,NaN,NaN,...,1.920000,55.730000,0.010000,NaN,NaN,NaN,NaN,44.210000,0.200000,0.000000
25%,NaN,NaN,8.000000e+03,8.000000e+03,8.000000e+03,NaN,NaN,2.529700e+02,NaN,NaN,...,175.162500,5615.142500,46.250000,NaN,NaN,NaN,NaN,2199.000000,45.000000,7.000000
50%,NaN,NaN,1.300000e+04,1.300000e+04,1.300000e+04,NaN,NaN,3.804100e+02,NaN,NaN,...,354.375000,10042.250000,133.595000,NaN,NaN,NaN,NaN,4128.000000,45.000000,15.000000
75%,NaN,NaN,2.000000e+04,2.000000e+04,2.000000e+04,NaN,NaN,5.983000e+02,NaN,NaN,...,625.365000,16265.237500,285.537500,NaN,NaN,NaN,NaN,6823.000000,50.000000,18.000000
max,NaN,NaN,4.000000e+04,4.000000e+04,4.000000e+04,NaN,NaN,1.719830e+03,NaN,NaN,...,2680.890000,40306.410000,1407.860000,NaN,NaN,NaN,NaN,33601.000000,521.350000,181.000000

In [7]:
df_merged = df_merged[df_merged['id'].isna()]

In [8]:
df_merged.to_csv("data/merged_df.csv")

This looks ugly but we can clean this

In [9]:
df = pd.read_csv("data/merged_df.csv")
len(df)

2507520